.themeBtn {
    @apply ml-8 mr-8 text-white inline-block font-normal text-sm text-center bg-lime-700;
    padding: 0px 25px;
    border-radius: 10px 0px 10px 0px;
    line-height: 41px;
    min-height: 39px;
    min-width: 101px;
    
   
}