@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


$background-bg: rgb(255, 255, 255);
$header-bg: rgb(255, 255, 255);
$footer-bg: rgb(0, 0, 0);
$mobile-header-bg: rgb(255, 255, 255);
$header-bg-white: rgb(255, 255, 255);
$font-family-rubik:"Rubik", sans-serif;
$background-light-green:#003e3290;


:root {
    --background-bg: #{$background-bg};
    --header-bg: #{$header-bg};
    --footer-bg: #{$footer-bg};
    --mobile-header-bg: #{$mobile-header-bg};
    --bs-font-size: 1rem;
    --bs-font-weight: 400;
    --bs-text-white: #fff;
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --row-card-margin-x: 0.3em;
    --font-family-rubik:"Rubik", sans-serif;
    --light-green-bg:#{background-light-green};
}

body{
    background-color: var(--background-bg);
  
}

.font-lobster {
    font-family: Lobster, cursive !important;
  }

  .font-rubik{
    font-family: "Rubik", sans-serif;

  }
.background-light-green{
    background-color:rgb(0 62 2 / 6%);
}

